# Database
DATABASE_NAME=prac
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=your_secure_password

# PgAdmin
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin

# Docker images
GITHUB_REPOSITORY=yourusername/yourrepo
TAG=latest