LOGGER_TYPE=dev
NODE_ENV=development
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=prac
DATABASE_DRIVER=postgres
DATABASE_URL=postgresql://username:password@localhost:5432/prac